<nav class="navbar navbar-expand-sm  " style="background-color: #0a0e3a">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">
         <h2>  <a style="color: white">CarSpace</a></h2> 
       </div>
   
      </div>
      <ul class="nav navbar-nav">
          <li routerLink="/driverregistration"><button class="btn btn-outline-light mr-2  ">Register</button></li>
        <li><button class="btn btn-outline-light" >login</button></li>
    
     
      </ul>
    </div>
  </nav>
<div class="container">